.search-bar{
    text-align: right;
}

h1{text-align: center;
}

.whats-on-container{
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    background-color: white;
}

.whats-on-subgrouping{
    flex: 17%;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    vertical-align: middle;
    margin-top: 40px;
}

.whats-on-picture{
    width: 200px;
    height: 250px;
    object-fit: contain;
    display: flex;
    justify-content: center;
     
}

.image-container:hover{
    transform: scale(1.2);
    transition: .5s ease;
} 

.book-now{
    position: absolute;
    text-decoration: none;
    align-items: baseline;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.book-now-text{
    visibility: none; opacity: 0;
    text-decoration: none; 
}

.image-container:hover .book-now-text:hover{
    background-color: rgb(255, 100, 100);
}

.image-container:hover .book-now-text{
    visibility: visible; opacity: 1;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(65, 65, 65));
    font-family: 'Hind Madurai', sans-serif;
    font-weight:bolder;
}

.image-container:hover .whats-on-picture{
    opacity: 0.5;
    filter: drop-shadow(0 0 0.75rem grey);
}

.event-title-container{
    width: 230px;
    display: flex;
    justify-content: center;
    padding-left:50px;

}

.event-title{
    text-align: left;
    font-size: 0.9em;
}

.event-title > * {
    text-decoration: none;
    color: black;
    font-family: 'Hind Madurai', sans-serif;
}

.event-title > *:hover{
    text-decoration: none;
    color:red;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Water+Brush&display=swap');

.whats-on{
    padding-top: 30px;
    padding-bottom: 10px;
    color:red;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 3em;

}

.bookings-title{
    padding-top: 30px;
    padding-bottom: 10px;
    color:red;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2em;
    text-align: center;
}

.bookings-class{
    display:flex;
}

.banner {
    padding-top: 80px;
    max-width: 100%;
    max-height: 100%;

}

.logo {
    height: 80px;
    width: auto;
    padding-bottom: 1px;
}

.search-bar{
    display: flex;
    justify-content: center;

}

.search-bar > * {
    border-color: red;
    border-radius: 5px;
    font-family: 'Hind Madurai', sans-serif;
}

.fc .fc-button-primary {
    background-color: red;
}
.fc-today-button.fc-button.fc-button-primary{
    background: red;
    border: red;
}
.fc-today-button.fc-button.fc-button-primary:hover{
    background: #3788d8;
    border: #3788d8;
}

.fc-next-button.fc-button.fc-button-primary{
    background: #3788d8;
    border: #3788d8;
}

.fc-prev-button.fc-button.fc-button-primary{
    background: #3788d8;
    border: #3788d8;
}
.fc-prev-button.fc-button.fc-button-primary:hover{
    background: red;
    border: red;
}

.fc-next-button.fc-button.fc-button-primary:hover{
    background: red;
    border: red;
}

.fc-daygrid-event-dot {
    border:red;
}

 .fc .fc-button-primary > *{
    color: red;
}

.fc-event-title {
    color: #3788d8;
    font-family: sans-serif;
}

.fc-event-time {
    color: #3788d8;
    font-family: sans-serif;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
    background: linear-gradient(to right, #f6f6f6, #e8eae4);
    padding-bottom: 3.5em;
}

.fc-icon.fc-icon-chevron-left{
    color: white;
}

.fc-icon.fc-icon-chevron-right{
    color: white;
}

.fc-toolbar-title{
    color: red;
    font-family: 'Hind Madurai', sans-serif;
}

.fc-scrollgrid-sync-inner{
    color: red;
    background-color: #ffffff;
    font-weight: lighter;
    
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
   
}

.dropdown-toggle.btn.btn-success{
    background-color: red;
    border-color: red;
    font-family: 'Hind Madurai', sans-serif;
}

.book-event-title{
    color: red;
    text-align: center;
}


.book {
    padding-top: 130px;
    display: flex;
    justify-content: center;

}

.book2 {
    justify-content: center;
    background-color: aqua;
    padding-top: 25px;
    padding-bottom: 35px;
    border-radius: 20px;
    background: linear-gradient(to right, #ede8e8, rgb(214, 213, 201));
    color: rgb(57, 57, 57);
    font-family: 'Hind Madurai', sans-serif;

}



.book-container {
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
    text-align: center;
    
}

.book-button {
    background-color: red;
    color:white;
    padding: 4px 18px;
    border-radius: 5px;
    border-color: red;
}

.book-button:hover{
    background-color: rgb(255, 100, 100);
    border-color: rgb(255, 100, 100);
}

.view-calendar{
    background-color: #3788d8;
    color:white;
    padding: 6px 10px;
    border-radius: 5px;
    border-color: #3788d8;
}

.view-calendar:hover{
    background-color: #63a3e3;
    color:white;
    padding: 6px 10px;
    border-radius: 5px;
    border-color: #63a3e3;
    text-decoration: none;
}

.filtered-events-page{
    padding-top: 120px;
}


.list-container{
    padding-top: 130px;
    margin-bottom: -90px;
    
}

.bookings-class{
    justify-content: center;
    text-align: right;
}


.delete {
    background-color: red;
    height: 30px;
    border-color: red;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.delete:hover{
    background-color: rgb(255, 100, 100);
    border-color: rgb(255, 100, 100);
}